html {
  background-color: #282A36;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.display {
  background-color: white;
  color: black;
  min-width: 13em;
  border-radius: 20px;
  margin-top: 5px;
}

.input {
  display: flex;
  justify-content: end;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 360px;
  background-color: #44475A;
  border: 4px solid black;
  margin-top: 10em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
}

.buttons button {
  border: 2px solid #6272A4;
  border-radius: 5px;
}

.clear_buttons {
  display: flex;
  margin-left: 9em;
  margin-top: 10px; 
  margin-bottom: 10px; 
  gap: 8px;
}

.clear_buttons button {
  border: 2px solid #6272A4;
  border-radius: 5px;
}

.num {
  padding: 20px;
  background-color: lightgrey;
  border-color: black;
}

.op {
  background-color: #BD93F9;
  color: black;
  border-color: black;
}

#o5 {
  background-color: #FFB86C;
}

.footer {
 margin-top: 20px; 
}
